<form class="filename" name="filename" action="<?php echo $block->getUrl('pincode/pingrid/savebulk')?>" id="fileupload" method="post" enctype='multipart/form-data'>
	<input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
    <fieldset class="fieldset">
        <legend class="legend"><span>Upload CSV File(10000 records max)</span></legend><br>
        <div class="field image">
            <label class="label" for="file"><span>File</span></label>
            <div class="control">
                <input name="file" id="filename" title="File" name="filename" class="input-file required" type="file">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="Submit" class="action submit primary">
                <span>Submit</span>
            </button>
        </div>
    </div>
</form>

<a target="_blank" href="<?php echo $block->getBaseUrl(); ?>media/sample/pincodesample.csv" download>DOWNLOAD FORMAT</a>