<?php
/**
 * @var $block \Kan\OrderTab\Block\Adminhtml\OrderEdit\Tab\View
 */
?>
<style>
.call_summary {
    width: 100%;
    float: left;
}
</style>
<div class="fieldset-wrapper">
    <!--<div class="fieldset-wrapper-title">
        <span class="title"><?php /* @escapeNotVerified */
        //    echo __('Information for Calls') ?>
		</span> 
    </div> -->
	<?php
		$orderid = $block->getOrderId();
		$objectManager =   \Magento\Framework\App\ObjectManager::getInstance();
		$connection = $objectManager->get('Magento\Framework\App\ResourceConnection')->getConnection('\Magento\Framework\App\ResourceConnection::DEFAULT_CONNECTION'); 
		$result = $connection->fetchAll("SELECT * FROM cc_remarks where order_id=".$orderid." order by remarks_id asc");
		$count = count($result);
		if($result)
		{  ?>
			<div class="call_summary">
				<?php $i=1;
				foreach($result as $data){ ?>
					<div class="order-information">
						<table class="admin__table-secondary">
							<thead>
								<th>Call Summary: <?php echo $i;?></th>
							</thead>
							<tbody>
								<tr>
									<th><?php /* @escapeNotVerified */
										echo __('Status:') ?></th>
									<td><?php echo $data['status']; ?></td>
								</tr>
								<tr>
									<th><?php /* @escapeNotVerified */
										echo __('Comment:') ?></th>
									<td><?php echo $data['comment']; ?></td>
								</tr>
							</tbody>
						</table>
					</div>
				<?php $i++; } ?>
			</div>
	<?php }
	
		if($count < 3){  ?>
			<div class="comment_form">
				<form class="filename" name="filename" action="<?php echo $block->getUrl('ordertab/save/save')?>" method="post">
					<h2>Enter your call updates</h2>
					<input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
					<input type="hidden" id="order_id" name="order_id" value="<?php echo $block->getOrderId() ?>">
					<input type="hidden" id="orderincreamentid" name="orderincreamentid" value="<?php echo $block->getOrderIncrementId() ?>">
					<fieldset class="fieldset">
						<div class="field status">
							<label class="label"><span>Status</span></label>
							<div class="control">
								<select name='status' class="required-entry" required>
								  <option value="Received">Received</option>
								  <option value="Not Answered">Not Answered</option>
								  <option value="Hold/Busy">Hold/Busy</option>
								  <option value="Disconnecting">Disconnecting</option>
								</select>
							</div>
						</div>
						<div class="field comment">
							<label class="label" for="file"><span>Comment</span></label>
							<div class="control">
								<textarea name="comment" class="required-entry" required placeholder="Enter Your Comment"></textarea>
							</div>
						</div>
						<div class="actions-toolbar">
							<div class="primary">
								<button type="submit" title="Submit" class="action submit primary">
									<span>Submit</span>
								</button>
							</div>
						</div>					
					</fieldset>
				</form>
			</div>
		<?php }
	?>
    
</div>